
.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: grey;
  padding: 20px;
  color: white;
}
.App-header .language-icon{
 
  padding: 8px;
  background-color: lightgrey;
  border-radius: 10px;
  color: black;
}
.App-header .login{
  background-color: lightgrey;
  border-radius: 22px;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.doctor-list {
  padding:20px;
}
.text{
  font-size:16px;
  font-weight:500;
}
.Footer{
  padding:0 20px 20px 20px;
}
